.content{
    background: #2bab84;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 3rem;

}

.action-container{
    align-content: center;
    padding: 1rem;
}

.option{
    border: 2px solid #2bab84;
    height: 5rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
    color: black !important;
}

.title-style{
    font-size: 10vw;
    font-weight: 600;
    color: white;
}
.inventory-style{
    font-size: 4vw;
    font-weight: 500;
    color: white;
}

.btn-title{
    font-size: 2rem;
}
.dc-title{
    font-size: 1rem;
}