body {
  direction: ltr;
  text-align: left;
}
body.fa {
  direction: rtl !important;
  text-align: right !important;

}

Button{
  background-color: #2bab84 !important;
  color: #FFFFFF !important;
  border: none !important;
  border-radius: 14px !important;
  transition: background-color 0.2s;
}
Button:hover {
  background-color: #424242 !important;
}
/*Button:active {*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7) !important;*/
/*  color: #FF7043 !important;*/
/*}*/
Button:disabled{
  background: gray !important;
  opacity: 50%;
}

Card {
  background-color: #242424 !important;
  color: #E0E0E0 !important;
  padding: 1rem !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
  transition: transform 0.2s, box-shadow 0.2s !important;
}
Card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  transform: translateY(-4px);
}

.App {
  text-align: center;
}
.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  color: white;
  background: white !important;
}

.btn{
  background-color: #ffffff !important;
  color: #2bab84 !important;
  border: 1px solid #2bab84 !important;
  transition: border 0.8s !important;
  border-radius: 14px !important;
}
.btn:hover{
  border: 1px solid #2bab84 !important;
  background-color: #2bab84 !important;
  color: #ffffff !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.image {
  width: 30% !important;
  margin: auto !important;
}

@media (max-width: 600px) {
  .image {
    width: 40vh !important;
    margin: auto !important;
    justify-self: center;
  }
}


@media (max-width: 600px) {
  span {
    font-size: 15px !important;
    margin: 0 !important;
    justify-self: center;
  }
}

